<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    testdox="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
>
    <php>
        <!-- Suppress PHP deprecation warnings from WordPress core -->
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_USER_DEPRECATED" />
    </php>
    
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/integration</directory>
        </testsuite>
        <testsuite name="database">
            <directory suffix="Test.php">./tests/database</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
            <directory>./node_modules</directory>
        </exclude>
    </coverage>
    

</phpunit> 